html {
  overflow-y: scroll;
}

body {
  background-image: url("../img/wall.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 30px;
  min-height: 50em;
}

.jumbotron {
    background: none;
    margin-top: 6em;
}

.jumbotron h1 {
    color: white;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.form-signin {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}

.form-signin .form-signin-heading,
.form-signin {
  margin-top: 40px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.avatar {
    max-width: 300px;
    display: block;
    margin: 20px auto;
    width: 70%;
}

.btn-link {
  padding: 6px 0;
}
